@import url('https://fonts.googleapis.com/css?family=Economica|Roboto&display=swap');
:root{
  --roboto: "Roboto", sans-serif;
  --Economica: "Economica', sans-serif";
}
nav.navbar.navbar-expand-lg.navbar-light.bg-light {
  background: none !important;
}

.header {
  background-color: #00c5f9;
}
form.form-inline {
  position: relative;
  float: left;
  margin-right: 155px;
  width: 410px;
}
a.navbar-brand {
  font-family: var(--Economica);
  font-size: 20px;
}
span.title-logo {
  font-size: 10px;
  position: absolute;
  bottom: -3px;
  left: 70px;
  color: #fff200;
}

a.navbar-brand {
  position: relative;
}
button.btn.btn-outline-success {
  border: none;
  color: #17a2b8;
  position: absolute;
  top: 3px;
}

input.mr-sm-2.form-control {
  width: 100%;
  height: 36px;
  border: 0px;
  border-radius: 4px;
  padding-left: 47px;
}

i.fas.fa-search {
  font-size: 20px;
}

button.btn.btn-outline-success:hover {
  background: none;
}

.navbar-nav {
  margin-left: 15px;
  float: left;
}

a.navbar-brand {
  margin: auto 30px auto 0px;
  color: #fff !important;
}

a.dropdown-toggle.nav-link {
  color: #fff !important;
}
a.sigin {
  color: #0e0e0e;
  border-radius: 22px;
  padding: 3px 20px;
  margin: 0px 10px 0px 10px;
  background: #FFF200;
  width: 110px;
  text-align: center;
  border-radius: 19px;
  font-size: 15px;
  font-family: opensanssemibold;
  color: #231F20;
  display: inline-block;
  height: 30px;
  text-decoration: none;
  text-transform: capitalize;
}

a.sigin:hover {
  background: #f1e403;
}
.dropdown-menu.show {
  top: 46px;
  border-radius: 0px;
}
a.auth {
  margin-right: 60px;
}

a.auth i {
  padding: 10px;
  background: #fff200;
  border-radius: 50%;
}
a.cart {
  padding: 8px;
}

i.fas.fa-cart-plus {
  color: #0070d6;
  font-size: 20px;
}
/* ------------------------------------ */
ul.shopping-cart-items img {
  width: 40px;
  height: 40px;
  margin-right: 19px;
}

.cart-body {
  position: relative;
  margin: auto;
}

.cart-item {
  position: absolute;
  z-index: 9999;
  background: white;
  width: 330px;
  top: 45px;
  left: -26px;
}

li.clearfix .item-name {
  font-family: sans-serif;
  font-size: 15px;
  color: black;
}

li.clearfix {
  margin-top: 20px;
  list-style: none;
}

span.item-price {
  color: black;
  font-size: 13px;
}

span.item-quantity {
  color: black;
}

span.item-quantity {
  font-size: 13px;
}

ul.shopping-cart-items {
  text-decoration: none;
}

a.button {
  background: #fff200;
  color:white;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  display: block;
  border-radius: 3px;
  font-size: 16px;
  margin: 25px 0 15px 0;
}

.shopping-cart-header {
  display: flex;
}

.shopping-cart-total {
  margin-left: 124px;
}

span.main-color-text {
  font-family: inherit;
  font-size: 12px;
}

i.fa.fa-shopping-cart.cart-icon {
  margin-left: 30px;
  margin-top: 13px;
}

a.cart {
  cursor: pointer;
}

.cart-item:before {
  bottom: 100%;
  left: 89%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: white;
  border-width: 8px;
  margin-left: -254px;
}